.item {

  &:not(:last-child)::after {
    content: "";
    display: block;
    height: 1px;
    background: linear-gradient(
      90deg,
      rgba(229, 0, 0, 0) 0%,
      var(--color-red-45) 17%,
      rgba(229, 0, 0, 0) 100%
    );
  }

  .trigger {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 30px 0 30px 0;
    background: transparent;
    border: none;

    .header {
      display: flex;
      align-items: center;
      gap: 20px;
      padding-left: 34px;

      .id {
        width: 64px;
        height: 67px;
        border: 1px solid var(--color-black-15);
        border-radius: 10px;
        padding: 20px;
        background-color: var(--color-black-12);

        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        color: var(--color-white);
        font-weight: 600;
        font-size: 20px;
      }

      .question {
        color: var(--color-white);
        font-weight: 500;
        font-size: 22px;
      }
    }

    .openHeader {
      align-items: flex-start;
    }

    .icon {
      flex-shrink: 0;
      color: var(--color-white);
      font-size: 30px;
      margin-top: 8px;
    }
  }

  .content {
    padding: 0 0 34px 118px;
    margin-top: -45px;

    .answer {
      font-weight: 400;
      font-size: 18px;
      color: var(--color-grey-60);
    }
  }
}

.open {

}
