.button {
  text-decoration: none;
  border-radius: var(--border-radius-8);
  border: none;
  padding: 18px 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.primary {
  color: var(--color-white);
  background-color: var(--color-red-45);
  border: none;
}

.secondary {
  color: var(--color-white);
  background-color: var(--color-black-08);
  border: 1px solid var(--color-black-15);
}
